<h4>Comments</h4>

<section class="container-profile"> 
  {{#each comments as |comment|}}
    <section class="card card-comment">
    <h5>{{comment.post.title}}</h5>
      <p> {{body}}</p>
      <input type="hidden" id="comment-id" value="{{comment.id}}">
      <button class="btn btn1"id="update-delete-button" data-id="{{comment.id}}" type="submit">Update or Delete Comment</button> 
    </section>
  {{/each}}
</section>  

<script src="/js/profile.js"></script>