<h2>Welcome, join in on the latest tech conversations</h2>

{{#each posts as |posts|}}
<section class="post-card justify-space-around p-1">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
  </a>
</section>
{{/each}}







